.tasks {
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #a296d6;
  width: 250px;
  // box-shadow: 5px 10px 10px #b6a6fe;
  background-color: #443c68;
  // margin-right: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.tasks h4 {
  word-wrap: break-word;
  padding: 10px;
  padding-right: 30px;
  margin: 0px;
  background-color: #18122b;
  font-weight: bold;
  color: white;
}
.tasks h3 {
  word-wrap: break-word;
  padding: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 30px;
  background-color: #18122b;
  border-radius: 5px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  input {
    margin: 5px;
  }
}

.tasks p {
  word-wrap: break-word;
  padding: 10px;
  background-color: #18122b;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.tasks button {
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  border-radius: 10px;
  margin-right: 3px;
  margin-left: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size:x-small;
  font-weight: bold;
  // transition: width 0.4s ease-in;
}

// .tasks button:hover{
//     padding: 10px;
//     width:100px;
//     background-color: greenyellow;
//     border-radius: 10px;
// }

.doneButton {
  background-color: purple;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.updateButton {
  background-color: red;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.tasks input {
  position: relative;
  left: 45px;
  bottom: 28px;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1000px) {
}
