.companyName {
  width: fit-content;
  background-color: white;
  font-family: "Anton", sans-serif;
  padding: 1%;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .companyName {
    //
    border-radius: 10px;
  }
}
@media only screen and (min-width: 1000px) {
  .companyName {
    border-radius: 10px;
  }
}
