.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px 2px;
    flex-wrap:wrap;
   
    // position: relative;
    // left:500px;
    // bottom:300px;
} 

// .container{
//     h2{
//         // position: relative;
//         // left:40px;
//     }
// } 
.todoheading{
    background-color:white;
    border-radius:10px;
    font-weight:bolder;
    font-size:3rem;
    width: max-content;
    margin: 30px;
    margin-right:200px;
}

.maps{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}